{% extends 'base.html' %}


{% block content %}

    <h2>Filmovi</h2>

    <div class="kontejner">

        <div class="lista">

            {% for s in filmovi %}
                <div class="objekt">
                    <div class="slika">
                        <a href="{{ s.get_absolute_url }}" class="">
                          <img src="{{ s.image.url }}" alt="{{ s.title }}" class="slicica">
                        </a>
                    </div>
                    <p>{{ s.title }}</p>
                </div>
            {% endfor %}

        </div>

    </div>

{% endblock %}